In [5]:
import pandas as ps
df=ps.read_csv("airquality.csv")

1. Find Arithmetic Mean of variable Temp (i.e. numeric Temperature, degrees F).

In [13]:
df["Temp"].mean()

77.88235294117646

2. Find Median of variable Temp (i.e. numeric Temperature, degrees F).

In [14]:
df["Temp"].median()

79.0

3. Find Variance of variable Temp (i.e. numeric Temperature, degrees F).

In [ ]:
df["Temp"].var()

4. Find Arithmetic Mean of variable Ozone (i.e. numeric Ozone, ppb).

In [17]:
df["Ozone"].mean()

42.12931034482759

5. How you will get all the summary of all given variables in single command?

In [21]:
df.describe()

,Unnamed: 0,Ozone,Solar.R,Wind,Temp,Month,Day
count,153.000000,116.000000,146.000000,153.000000,153.000000,153.000000,153.000000
mean,77.000000,42.129310,185.931507,9.957516,77.882353,6.993464,15.803922
std,44.311398,32.987885,90.058422,3.523001,9.465270,1.416522,8.864520
min,1.000000,1.000000,7.000000,1.700000,56.000000,5.000000,1.000000
25%,39.000000,18.000000,115.750000,7.400000,72.000000,6.000000,8.000000
50%,77.000000,31.500000,205.000000,9.700000,79.000000,7.000000,16.000000
75%,115.000000,63.250000,258.750000,11.500000,85.000000,8.000000,23.000000
max,153.000000,168.000000,334.000000,20.700000,97.000000,9.000000,31.000000